<table class="table table-bordered table-hover">
  <thread>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Quantidade</th>
      <th colspan="1">
    </tr>
  </thead>
  <tbody>
    <%= render @produtos %>
  </tbody>
</table>